body {
    padding: 0;
    margin: 0;
}

div {
    width: 33vh;
    height: 33vh;
    margin: 0 auto;
    background-color: red;
    border: 1vh solid pink;
}

#d02 {
    position: relative;
    top: 5vh;
    left: 15vh;
}