* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.8vw;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: lightslategray;
    font-size: 1.5em;
    margin: 0 auto;
    width: 60vw;
    padding-bottom: 15vh;
    background-color: darkslategray;
}

svg {
    width: .8em;
    height: .8em;
    stroke: currentColor;
    width: 6em;
    height: 6em;
    color: lightblue;

    animation-name: gc-spin;
    animation-duration: 3000ms;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-delay: 750ms;
    animation-iteration-count: infinite;

    border-radius: 50%;
    box-shadow: 0 0 10px 1px slategray;
}

@keyframes gc-spin {
    0% {transform: rotate(0);}
    100% {transform: rotate(1turn);}
}

h1 {
    margin: .5em;
    font-size: 2em;
    text-align: center;
}

h2 {
    font-size: 1em;
    text-align: center;
}

button {
    padding: 1em 2em;
    margin: 2em;
    border-radius: 5px;
    background-color: darkcyan;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: black 1px 1px 10px 1px;
}

