body {
    background-image: url("../../exercise-files/dog.png");
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    background-repeat: repeat-y;
}