* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.side-bar {
    display: flex;
    flex-flow: column nowrap;
    font-size: 2em;
    border-right: 1px solid lightgray;
    color: #117d78;
}

.sb-nav {
    display: flex;
    flex-flow: column nowrap;
}

.container{
    padding: 6vh 0;
    height: 100%;
    min-height: 100vh;
    justify-content: space-between;
}

.side-bar a {
    color: inherit;
    text-decoration: none;
    width: 100%;
    padding: 2vh 5vw;
}

.side-bar a:hover {
    background-color: lightblue;
}