html, body {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.left {
    float: left;
    width: 25%;
    background-color: red;
}

body {
    margin: 0 auto;
    width: 80%;
}

nav>ul {
    list-style: none;
}

.right {
    float: right;
    width: 73%;
    padding: 1%;
    background-color: blue;
}