* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
    color: grey;
}

.icon {
    width: .8em;
    height: .8em;
    stroke: currentColor;
}

.spinner {
    animation-name: gc-spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    /* animation-timing-function: linear; */
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes gc-spin {
    0% {transform: rotate(0);}
    100% {transform: rotate(1turn);}
}

.left span {
    padding-left: .1em;
}

#idx-atf {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.idx-btf>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.idx-btf {
    border-top: .1rem solid gray;
    padding: 4vh;
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-weight: normal;

    font-size: 2.5rem;
}

.idx-btf .right button {
    color: #47bae6;
    background-color: transparent;
    padding: .4rem .7rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

.idx-btf .right button:hover {
    background-color: skyblue;
    color: #47bae6;
}

.idx-btf a:last-child button {
    color: white;
    background-color: #47bae6;
    border: 1px solid #19aadd;
}