.c001, .c002, .c003, .c004, .c005, .c006, .c007 {
    border: 2px solid black;
    /* background-image: url(img/dog.jpeg); */
    background-image: url(https://images.pexels.com/photos/733416/pexels-photo-733416.jpeg?auto=compress&cs=tinysrgb&h=150);
    background-repeat: no-repeat;
    background-size: cover;
}

.c001, .c003, .c005, .c007 {
    /* background-color: aliceblue; */
}

.c002, .c004, .c006 {
    /* background-color: beige; */
}