html, body, h1 {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 1rem red solid;
}