* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0 2rem;
}

.counter div {
    text-align: center;
    font-size: 3vw;
    height: 8em;
    font-weight: lighter;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter div:first-child {
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.counter div:last-child {
    border-right: 1px solid blue;
    border-left: 1px solid blue;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.minus {
    background-color: lightblue;
    border-right: none;
    flex-grow: 1;
    cursor: pointer;
}

.minus:hover {
    color: red;
    background-color: grey;
}

.count {
    flex-grow: 2;
    border-radius: 0;
    border-left: none;
}

.plus {
    background-color: lightblue;
    flex-grow: 1;
    cursor: pointer;
}

.plus:hover {
    background-color: grey;
    color: green;
}