html, body, h1, h2, h3, h4, h5, header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.index-above-the-fold {
    height: 100vh;
    background-image: url(../img/boat-xl.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.atf-container {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .6);
}

.atf-container h1 {
    color: white;
    text-transform: capitalize;
    font-variant: small-caps;
    margin-bottom: 5rem;
    margin-top: 2.8rem;
    font-size: 2.5rem;
    text-align: center;
}

.atf-container h2 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.atf-container h3 {
    color: white;
    text-transform: capitalize;
    font-variant: small-caps;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.8rem;
}

.atf-container a {
    color: white;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-decoration: none;
    padding: 2rem;
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
    font-size: 1rem;
}

.atf-container a:hover {
    /* background-color: rgba(255, 255, 255, .1); */
    background-color: rgba(255, 255, 255, .1);
}

.index-header {
    position: fixed;
    top: 0;
    height: 2rem;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    color: whitesmoke;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    /* background-color: red; */
    width: 50%;
    height: 80%;
    margin: 0 1rem;
    box-sizing: border-box;
    /* border: 1px solid hotpink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left svg {
    height: 100%;
    width: 50px
}

.header-right {
    /* background-color: red; */
    max-width: 40%;    
    height: 80%;
    margin: 0 1rem;
    box-sizing: border-box;
    /* border: 1px solid hotpink; */
    display: flex;
    justify-content: space-between;
}

header svg {
    box-sizing: border-box;
    margin: 0 1vw;
    display: none;
}

header svg:hover {
    /* color: rgba(255, 255, 255, .4); */
    color: rgb(62, 68, 77, 0.4);
}