/* FOR DEBUGGING */
/* * {
    border: 1px solid hotpink !important;
} */

html, body, #index-section-above-the-fold, h1, h2, h3 {
    margin: 0;
    padding: 0;
    border: 0;
}

#index-section-above-the-fold {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#atf-content-wrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#atf-content-wrap>h1 {
}

#atf-content-wrap>h2 {
}

#atf-content-wrap>h3 {
}

#atf-content-wrap>button {
    padding: 2vh 9vw;
    border-radius: 10px;
    margin: 2vh 2vw;
    cursor: pointer;
}