.catbackground {
    color: aliceblue;
    /* background-color: black; */
    width: 200px;
    height: 200px;
    background-image: url("../../07_html_essentials/code/cat.jpg");
    border: 1px solid red;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.catone {
    border: 10px groove orangered;
    width: 10vw;
}

.cattwo {
    border: 10px dotted orangered;
    width: 10vw;
}

.catthree {
    border: 10px dashed orangered;
    width: 10vw;
}

img {
    border: 10px double orangered;
    width: 10vw;
}