* {
    border: 1px solid hotpink;
}

body {
    display: flex;
    flex-flow: row wrap;
    /* align-content: flex-start; */
    align-items: baseline;
    justify-content: space-around;
    height: 80vh;
}

div {
    /* height: 10vh; */
    min-height: 100px;
    min-width: 100px;
    background-color: aqua;
}

#div01 {
    padding: 50px 0 0 0;
    order: 2;
}

#div02 {
    padding: 0 50px 0 0;
    order: 2;
    flex-grow: 5;
}

#div03 {
    padding: 0 0 50px 0;
    order: 1;
    flex-grow: 4;
    flex-basis: 400px;
    width: 100%
}

#div04 {
    padding: 50px 0 0 0;
    order: -1;
    flex: 0 0 auto;
    /* box-sizing: border-box; */
}