* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 10vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    stroke: currentColor;
    color: red;
    fill: transparent;

    border-radius: 10px;

    /* color: green;
    transition-property: all;
    transition-delay: 100ms;
    transition-duration: 2000ms;
    transition-timing-function: ease-in-out; */

    animation-name: gc-spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
    animation-play-state: running;

    position: relative;
}

svg:hover {
    color: green;
}

@keyframes gc-color {
    0% {color: red; left: 0;}
    25% {color: blue;}
    50% {color: green;}
    75% {color: yellow;}
    100% {color: orange; left: 90vw;}
}

@keyframes gc-size {
    0% {font-size:100vw; width: 100vw; height: 100vh;}
    100% {font-size:0; width: 0; height: 0;}
}

@keyframes gc-spin {
    0% {transform: rotate(0);}
    100% {transform: rotate(1turn);}
}