html, body, header, section, aside, footer, h1 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row wrap;
}

header, section, aside, footer {
    width: 100%;
    padding: 1rem;
}

h1 {
    text-align: center;
}