header {
    background-color: red;
}

section {
    background-color: blue;
}

#aside01 {
    background-color: yellow;
}

#aside02 {
    background-color: pink;
}

footer {
    background-color: green;
}