body {
    background-color: red;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
}

h1{
    color: white;
    text-align: center;
    font-size: 8rem;
}