* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 3rem;
    font-size: 1.5rem;
    background-color: rgba(0,0,0,0.5);
}

header ul {
    width: 100%;
    height: 100%;
    display: flex;
    list-style: none;
    align-items: center;
}

header ul li {
    color: white;
    padding: .4em 1em;
    border-radius: 5px;
    margin: 0 .5em;
    text-align: center;
}

header ul li:hover {
    background-color: darkgray;
}

header ul li:last-child {
    margin-left: auto;
}

.idx-atf {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    font-size: 8rem;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-variant: small-caps;
    color: rgba(0,0,0,0.5)
}

.idx-atf svg {
    width: 3em;
    height: 3em;
    color: hotpink;
}