.c003, .c004 {
    width: 50%;
}

.c001 {
    order: 0;
}

.c002 {
    order: 1;
}

.c003 {
    order: 4;
}

.c004 {
    order: 3;
}

.c005 {
    order: 2;
}

.c006 {
    order: 5;
}

.c007 {
    order: 6;
}