.c001, .c002, .c003, .c004, .c005, .c006, .c007 {
    border: 2px solid black; 
}

.c001, .c003, .c005, .c007 {
    background-color: aliceblue;
}

.c002, .c004, .c006 {
    background-color: beige;
}