html {
    background-color: blue;
}

body {
    background-color: chartreuse;
    border: black solid 1em;
    padding: 25px;
    width: 60%;
    margin: 0 auto;
    box-sizing: border-box;
}

.cover {
    border: groove 1em goldenrod;
    border-radius: 100%;

    margin: 0 auto;
    display: block;
}

.header001 {
    color: blue;
}

.header002 {
    color: red;
}