body {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
}

div {
    background-image: url("../../exercise-files/dog.png");
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    border: 1px solid hotpink;
    background-position: 300px 100px;
    background-size: 50px auto;
}