<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png?v=A0mqXBBN7o">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png?v=A0mqXBBN7o">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png?v=A0mqXBBN7o">
<link rel="manifest" href="favicon/site.webmanifest?v=A0mqXBBN7o">
<link rel="mask-icon" href="favicon/safari-pinned-tab.svg?v=A0mqXBBN7o" color="#5bbad5">
<link rel="shortcut icon" href="favicon/favicon.ico?v=A0mqXBBN7o">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="msapplication-config" content="favicon/browserconfig.xml?v=A0mqXBBN7o">
<meta name="theme-color" content="#8a8787">