#index-section-above-the-fold {
    background-image: url(../img/background-photo-mobile-devices.jpg);
    background-size: 100vw 100vh;
}

#atf-content-wrap>h1 {
    color: white;
}

#atf-content-wrap>h2 {
    color: white;
}

#atf-content-wrap>h3 {
    color: white;
}

#atf-content-wrap>button {
    background-color: rgba(255,255,255,0.5);
}