html, body, nav, section, ul, li, a {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    flex-flow: row wrap;
}

nav {
    width: 100%;
}

section {
    width: 100%;
    padding: 1rem;
    text-indent: 4rem;
}

ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

a {
    text-decoration: none;
    padding: 1rem;
    color: black;
    display: inline-block;
}