body {
    background-color: red;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1{
    color: white;
    text-align: center;
    font-size: 8rem;
}