div {
    border: orangered solid 1vh;
    text-transform: uppercase;
}

#d01 {
    position: relative;
    top: 1vh;
    left: 1vh;
    width: 30vh;
    height: 30vh;
    background-color: orange;
}

#d02 {
    position: absolute;
    top: 10vh;
    right: 2vh;
    width: 10vh;
    height: 10vh;
    background-color: blueviolet;
}