div {
    color: aliceblue;
    background-color: black;
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

.catone {
    border: 10px groove orangered;
    width: 10vw;
}

.cattwo {
    border: 10px dotted orangered;
    width: 10vw;
}

.catthree {
    border: 10px dashed orangered;
    width: 10vw;
}

img {
    border: 10px double orangered;
    width: 10vw;
}