html, body, header, main, aside, footer {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: orange;
    height: 18vh;
    margin: 1vh 1vw;
}

main {
    background-color: red;
    height: 58vh;
    margin: 1vh 1vw;
    width: 78vw;
    float: left;
}

aside {
    background-color: blue;
    height: 58vh;
    width: 18vw;
    margin: 1vh 1vw;
    float: right;
}

footer {
    background-color: green;
    height: 18vh;
    margin: 1vh 1vw;
    clear: both;
}