* {
    box-sizing: border-box;
}

nav {
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
}

a {
    text-align: center;
}