* {
    box-sizing: border-box;
}

nav {
    background-color: rgb(0, 195, 255);
}

li {
    border: 1px solid rgba(228, 228, 228, 0.5);
}

a {
    display: block;
    padding: 1rem 1rem;
    text-decoration-line: none;
    color: white;
}