html, body, .container{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 2vw;
    color: #bbd2db;
}

svg {
    width: .9em;
    height: .9em;
    stroke: currentColor;
}

.container {
    width: 70vw;
    margin: 5vh auto;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 5%;
    border: 1px solid #bbd2db;
    align-items: center;
    justify-content: center;
    padding: 0 5vw;
}

.container .row {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bbd2db;
    padding: 1vh 1vw;
}

.container .row:nth-child(2n) {
    flex-direction: row-reverse;
}

.container .row:last-child {
    border-bottom: 0;
}

.icon {
    width: 7em;
    height: 7em;
    margin: 1em;
}