/* * {
    border: 1px solid hotpink !important;
} */

body {
    background-image: url("img/fog.jpg"); 
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

header {
    width: 100%;
    color: #094562;
    text-align: center;
    background-color: rgba(0, 0, 0, .1);
    margin: 0;
    padding: 3vh 0 3vh 0;
    border-bottom: 1px solid rgba(0,0,0,.3);
}

header > h1 {
    margin: 0 0 1rem 0;
    padding: 0;
    font-size: 5rem;
}

main {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.index-nav-ul {
    list-style-type: none;
    /* margin: 3rem 3rem; */
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.index-nav-ul>li {
    height: 100%;
    padding: 1vh 1vw;
    border-radius: 5px;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    border: 1px solid rgba(255, 255, 255, .1);
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
    background-color: rgba(245, 245, 245, 0.4);
}

.index-nav-ul>li:hover {
    cursor: pointer;
    color: #094562;
    background-color: rgba(245, 245, 245, 0.1);
}

section {
    width: 100%;
    border-radius: 5px;
    height:20rem;
    text-align: center;
    margin: 1rem;
}

.index-section-01 {
    background-color: #09446275;
   
}

.index-section-02 {
    background-color: #49681275;
}

.index-section-03 {
    background-color: #58442075;
}

.index-section-04 {
    background-color: #65145675;
}

