* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

.s-flex-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.c001, .c002, .c003, .c004, .c005, .c006, .c007 {
    width: 100%;
    min-height: 150px;
}