body {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: 0 auto;
}

#div01 {
    width: 100%;
}

#div02 {
    width: 15%;
}

#div03 {
    width: 70%;
}

#div04 {
    width: 15%;
}

#div05 {
    width: 100%;
}