html {
    font-size: 1vw;
}

* {
    box-sizing: border-box;
}

a {
    box-sizing: border-box;
    background-color: red;
}

header {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100vw;
}

header * {
    border: 1px solid hotpink;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}