html {
    font-family: 'Roboto', sans-serif;
}

#custom-p01 {
    font-size: xx-large;
    font-weight: 900;
}

#custom-p02 {
    font-size: xx-large;
    font-weight: 400;
}

#custom-p03 {
    font-size: xx-large;
    font-weight: 300;
}