div {
    background-color: black;
    width: 400px;
    height: 400px;
    border-radius: 10%;
    border: groove 20px  darkgrey;
    background-image: url(img/mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}