html, body, header, h1 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1vw;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(245, 245, 220, 0.4);
}

header div {
    padding: 2vh 4vw;
    color: black;
    text-shadow: 0 0 10px white;
    font-size: 2.5em;
}

.atf {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;

    justify-content: center;
    align-items: center;

    background-image: url(./seagull.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.atf h1 {
    font-size: 8em;
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    margin: 0 0 40vh 0;
}

.btf {
    display: flex;
    flex-flow: row wrap;

    justify-content: center;
    align-items: center;
}

.btf h1 {
    font-family: 'Spartan', sans-serif;
    font-size: 6em;
    color: red;
    padding: 4vh 4vw;
}