.d-shape {
    border: black solid 2px;
    border-radius: 35%;
    width: 50px;
    height: 25px;
    display: inline-block;
}

.d01 {
    background-color: red;
}

.d02 {
    background-color: blue;
}

.d03 {
    background-color: yellow;
}

.d04 {
    background-color: green;
}