* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.idx-atf {
    width: 100vw;
    height: 100vh;
    padding: 10%;
    /* background-color: grey; */
}

.idx-atf ul {
    display: flex;
    list-style: none;
    border-bottom: .1rem solid darkgrey;
}

.idx-atf ul li {
    text-decoration: none;
    display: flex;
    flex-grow: 1;
}

.idx-atf ul li a {
    text-align: center;
    text-decoration: none;
    color: black;
    flex-grow: 1;
    padding: 3rem;
    font-size: 2rem;
    text-transform: capitalize;
    border-bottom: .2rem solid transparent;
}

.idx-atf ul li a:hover {
    border-bottom: .2rem solid aqua;
}