* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 2vw;
    color: lightsteelblue;
}

svg {
    stroke: currentColor;
    width: .9em;
    height: .9em;
}

#atf {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    border-radius: 10px;
    box-shadow: 0 0 20px 1px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card span {
    flex-grow: 1;
    padding: .5em;
    color: darkslategray;
}

.card span:last-child {
    background-color: lightsteelblue;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card svg{
    width: auto;
    height: 8em;
}