/* * {
    border: 1px dashed hotpink;
} */

a { 
    padding: 10px;
display: inline-block;
}

li:hover {
    background-color: aqua;
}

h1, p {
    display: none;
}

html {
    font-size: 2rem;
}

ul {
    list-style: none;
}

li {
    border: 2px solid red;
    border-radius: 50px;
    display: inline;
}