#index-section-above-the-fold {
    background-color: darkslategray;
    background-image: url(../img/background-photo-mobile-devices.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

#atf-content-wrap>h1 {
    color: white;
}

#atf-content-wrap>h2 {
    color: white;
}

#atf-content-wrap>h3 {
    color: white;
}

#atf-content-wrap>button {
    background-color: rgba(255,255,255,0.5);
}