* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    border: 1px solid hotpink;
}

p {
    height: 25vh;
    background-color: aqua;
    clear: both;
}

.floated {
    float: left;
    background-color: red;
}