#index-section-above-the-fold {
    background-color: darkslategray;
    background-image: url(../img/background-photo-mobile-devices.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

#atf-content-wrap>h1 {
    color: white;
    font-family: 'Cantarell', sans-serif;
    font-size: 2rem;
    font-variant: small-caps;
    text-transform: capitalize;
    text-align: center;
}

#atf-content-wrap>h2 {
    color: white;
    font-family: 'Cantarell', sans-serif;
    font-weight: 700;
    font-variant: small-caps;
    text-transform: capitalize;
    text-align: center;
}

#atf-content-wrap>h3 {
    color: white;
    font-family: 'Cantarell', sans-serif;
    font-variant: small-caps;
    text-transform: capitalize;
    text-align: center;
}

#atf-content-wrap>button {
    background-color: rgba(255,255,255,0.5);
    font-family: 'Kotta One', serif;
    font-variant: small-caps;
    text-transform: capitalize;
    border-color: rgb(202,250,234);
}