div {
    background-image: url("../../exercise-files/dog.png");
    background-color: blue;
    height: 80%;
    width: 80%;
    background-repeat: no-repeat;
    background-origin: content-box;
    border: 50px solid black;
    padding: 10%;
    margin: 10%;
    box-sizing: border-box;
    color: white;
}