html {
    font-size: 1vw;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    width: 40em;
    height: 40em;
    stroke: currentColor;
    color: lightblue;

    animation-name: gc-spin;
    animation-duration: 2500ms;
    animation-timing-function: ease-in-out;
    animation-delay: 750ms;
    animation-iteration-count: 1;

    border-radius: 50%;
    box-shadow: lightslategray 0 0 10px 1px;
}

@keyframes gc-spin {
    0% {transform: rotate(0);}
    100% {transform: rotate(1turn);}
}