body {
    /* border: black solid 1vh; */
    width: 80%;
    margin: 0 auto;
}

div, body {
    box-sizing: border-box;
}

#left {
    position: absolute;
    width: 150px;
    height: 500px;
    border: 5px solid red;
}

#right {
    margin: 0 0 0 150px;
    height: 500px;
    border: 5px solid black;
}